*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
}

.container{
    padding: 40px ;
    text-align: center;
    box-shadow: #E91E63 5px 5px, #03A9F4 10px 10px, #2ecc71 15px 15px, #e91e6268 20px 20px, #03a8f446 25px 25px , #2ecc7010 30px 30px , #e91e6205 20px 20px;
    border-radius: 50px;
    background-color: #ffffff;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.display{
    font-size: 38px;
    font-weight: bold;
    padding: 15px;
    background-color: #222;
    border-radius: 20px;
    color: #ffffff;
    margin-bottom: 30px;
    box-shadow: inset 5px 5px #E91E63,inset 10px 10px #03A9F4 , inset #2ecc71 15px 15px , inset #e91e6268 20px 20px, inset #03a8f446 25px 25px , inset #2ecc7010 30px 30px , inset #e91e6205 35px 35px;
    transition: all 0.2s ease-in-out;
}

button{
    font-size: 24px;
    padding: 10px 20px;
    margin:10px;
    border-radius: 10px;
    cursor: pointer;
    border-color: none;
    
}

p{
    margin-top: 10px;
}

button:hover{
    transition: translate(5px, 5px);
}